<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Allow access to save photos directly to your gallery.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show nearby tea places and help you find the best tea spots around you. 🍵</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb772829175123421</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.896769880320-2759mu1mut9ed813pddddv0uupalr7vm</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>772829175123421</string>
	<key>FacebookClientToken</key>
	<string>ab565c3bf841f4149ebab5b9d490b451</string>
	<key>FacebookDisplayName</key>
	<string>TeaTimeHarsh</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
        <string>whatsapp</string>
        <string>facetime</string>
        <string>tel</string>
        <string>sms</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
