//
//  Secrets.xcconfig
//  TeaTimeHarsh
//
//  Created by Harsh on 20/02/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Secrets.xcconfig
FB_APP_ID = 772829175123421
FB_CLIENT_TOKEN = ab565c3bf841f4149ebab5b9d490b451
GOOGLE_CLIENT_ID = com.googleusercontent.apps.896769880320-2759mu1mut9ed813pddddv0uupalr7vm
GoogleMapsAPIKey = AIzaSyASy1OZ0tgXMWAYYPN2chKgO_T_gWSJj8Y
